#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #64B9C5;
}
header {
    background-color: #b9e4f4;
}
.logo {
    width: 80px;
    margin: 0 auto;
}
nav {
    background-color: #b9e4f4;
    height: 50px;
    display: inline-block;
    justify-content: space-around;
    margin: 0 auto;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: "Poppins Bold", sans-serif;
    font-size: 1.2em;
    
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #F99487;
    padding: 10px 20px;
    display: block;
}
nav a {
    text-align: center;
    color:#f2f2f2;
    text-decoration: none;
    display: block;
    list-style-type: none;
}
nav a:hover {
    background-color: #F99487;
    color: #f2f2f2;
}
h4 {
    color: #5da0d7;
}
.home-title {
    color:#5da0d7;
}
.book {
    background-color: #f2f2f2;
    color: #5da0d7;
    text-decoration: none;
}
.join {
    background-color: #f2f2f2;
    color: #5da0d7;
    text-decoration: none;
}
.book:hover {
    background-color: #5da0d7;
    color: #f2f2f2;
}
.join:hover {
    background-color: #5da0d7;
    color: #f2f2f2;
}
.icon {
    width:80px;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #5da0d7;
}
.msg {
    background-color: #5da0d7;
    
}
.msg h2 {
    color:#5da0d7;
}
.msg p {
    color:#5da0d7;
}
footer {
    background-color: #5da0d7;
    color: #f2f2f2;
}
footer a {
    color: #f2f2f2;
    text-decoration: none;
}
footer a:hover {
    color: #5da0d7;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}