body {
    margin: 0;
    padding: 0;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
aside{
    grid-column-start: 2;
    background-color: #b8b8b8;
    grid-row-start: 1;
    grid-row-end: 3;
}
img {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
h1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8em;
    margin: 200px auto;
    z-index: 1;
}
h2 {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #9e0815;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    font-size: 3em;
    text-align: center;
    margin: 500px auto;
    letter-spacing: 10px;
}