.main-paragraph {
  font-size: 1.5em;
  line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
    text-decoration: none;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
    border-radius: 10%;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

a {
    color: steelblue;
    font-size: 1.5em;
    text-decoration: none;
    padding: 25px;
}
body {
    margin: 0;
}
footer {
    background-color: steelblue;
    color: white;
}
h1 {
    background-color: lightcoral;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 50px 0;
}
nav {
    background-color: lightcoral;
    text-align: right;
    color: white;
    padding: 25px;
    text-decoration: none;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}

a:hover {
    color: lightcoral;
    background-color: white;
    text-decoration: none;
}